# =====================================================
# VIRTUAL ENVIRONMENT
# =====================================================

venv/
testenv/
.venv/


# =====================================================
# SECRETS / API KEYS
# =====================================================

.env
.streamlit/secrets.toml


# =====================================================
# PYTHON CACHE
# =====================================================

__pycache__/
*.pyc
*.pyo


# =====================================================
# STREAMLIT
# =====================================================

.streamlit/


# =====================================================
# MACHINE LEARNING / MLOPS
# =====================================================

mlruns/


# =====================================================
# VECTOR DATABASE LOCAL FILES
# =====================================================

doc_index/


# =====================================================
# JUPYTER NOTEBOOK CHECKPOINT
# =====================================================

.ipynb_checkpoints/


# =====================================================
# TEMP / LOG
# =====================================================

*.log


# =====================================================
# OS FILES
# =====================================================

.DS_Store
Thumbs.db


# =====================================================
# TRAINING / EXPERIMENT FILES
# =====================================================

belajar_mlops.ipynb
belajar_mlops2 (1).ipynb
belajarag.ipynb
use_model.ipynb

wb_cancer (1).csv


# =====================================================
# TEST FILES
# =====================================================

test_embedding.py
test_groq.py


# =====================================================
# OLD SCRIPT FILES
# =====================================================

data_ingestion.py
rag_generation.py
rag_ingestion.py