python-dotenv

openai

langchain==0.3.27
langchain-core==0.3.76
langchain-openai==0.3.33
langchain-community==0.3.30
langchain-groq==0.3.8
langchain-pinecone

langgraph

pinecone>=5.0.0

pypdf
beautifulsoup4==4.14.0

pandas
scikit-learn

streamlit

# embeddings
langchain-huggingface==0.3.1
sentence-transformers==3.2.1

# torch fix for Python 3.11
torch